---

---

<div
   class="h-dvh lg:flex flex-col bg-accent hidden border-r flex-grow will-change-transform sticky top-0 transition-all duration-500 z-10 w-[4.5rem]"
>
   <nav class="transform-none origin-[50%,50%,0px] flex flex-col flex-grow">
      <div
         class="rounded-full text-sm text-muted-foreground overflow-hidden size-6 flex items-center justify-center z-20 absolute -right-3 border bg-accent hover:text-primary-foreground hover:cursor-pointer hover:border-accent-foreground/50 hover:scale-105 transition-all duration-500 rotate-180 top-6"
         role="button"
      >
         <svg
            xmlns="http://www.w3.org/2000/svg"
            width="0.9rem"
            height="0.9rem"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-chevron-left"
            ><path d="m15 18-6-6 6-6"></path></svg
         >
      </div><div class="flex flex-col flex-grow">
         <a
            class="w-full flex items-center p-5 px-4 gap-0 justify-center"
            href="/"
            ><span
               class="relative flex shrink-0 overflow-hidden rounded-full transition-all duration-500 size-7"
               ><img
                  class="aspect-square h-full w-full"
                  src="/profile.jpeg"
               /></span
            ><div
               class="leading-5 opacity-0 transition-all duration-500 min-w-max"
            >
            </div></a
         ><div class="flex-grow overflow-y-auto no-scrollbar h-[10vh]">
            <div class="px-4 text-sm py-0">
               <a href="/"
                  ><div
                     class="rounded-md gap-3 flex items-center p-2.5 py-1.5 transition-all border min-h-10 hover:text-primary-foreground bg-primary border-accent-foreground text-primary-foreground"
                  >
                     <div class="transition-all duration-500">
                        <svg
                           xmlns="http://www.w3.org/2000/svg"
                           width="1.1rem"
                           height="1.1rem"
                           viewBox="0 0 24 24"
                           fill="none"
                           stroke="currentColor"
                           stroke-width="2"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                           class="lucide lucide-compass"
                           ><path
                              d="m16.24 7.76-1.804 5.411a2 2 0 0 1-1.265 1.265L7.76 16.24l1.804-5.411a2 2 0 0 1 1.265-1.265z"
                           ></path><circle cx="12" cy="12" r="10"></circle></svg
                        >
                     </div><div
                        class="flex items-center w-full justify-between transition-all duration-500 opacity-0"
                     >
                     </div>
                  </div></a
               ><a href="/experience"
                  ><div
                     class="rounded-md text-muted-foreground gap-3 flex items-center p-2.5 py-1.5 border-transparent transition-all border min-h-10 hover:text-primary-foreground"
                  >
                     <div class="transition-all duration-500">
                        <svg
                           xmlns="http://www.w3.org/2000/svg"
                           width="1.1rem"
                           height="1.1rem"
                           viewBox="0 0 24 24"
                           fill="none"
                           stroke="currentColor"
                           stroke-width="2"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                           class="lucide lucide-briefcase-business"
                           ><path d="M12 12h.01"></path><path
                              d="M16 6V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v2"
                           ></path><path d="M22 13a18.15 18.15 0 0 1-20 0"
                           ></path><rect
                              width="20"
                              height="14"
                              x="2"
                              y="6"
                              rx="2"></rect></svg
                        >
                     </div><div
                        class="flex items-center w-full justify-between transition-all duration-500 opacity-0"
                     >
                     </div>
                  </div></a
               ><a href="/projects"
                  ><div
                     class="rounded-md text-muted-foreground gap-3 flex items-center p-2.5 py-1.5 border-transparent transition-all border min-h-10 hover:text-primary-foreground"
                  >
                     <div class="transition-all duration-500">
                        <svg
                           xmlns="http://www.w3.org/2000/svg"
                           width="1.1rem"
                           height="1.1rem"
                           viewBox="0 0 24 24"
                           fill="none"
                           stroke="currentColor"
                           stroke-width="2"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                           class="lucide lucide-pen"
                           ><path
                              d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"
                           ></path></svg
                        >
                     </div><div
                        class="flex items-center w-full justify-between transition-all duration-500 opacity-0"
                     >
                     </div>
                  </div></a
               ><a href="/services"
                  ><div
                     class="rounded-md text-muted-foreground gap-3 flex items-center p-2.5 py-1.5 border-transparent transition-all border min-h-10 hover:text-primary-foreground"
                  >
                     <div class="transition-all duration-500">
                        <svg
                           xmlns="http://www.w3.org/2000/svg"
                           width="1.1rem"
                           height="1.1rem"
                           viewBox="0 0 24 24"
                           fill="none"
                           stroke="currentColor"
                           stroke-width="2"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                           class="lucide lucide-ice-cream-bowl"
                           ><path
                              d="M12 17c5 0 8-2.69 8-6H4c0 3.31 3 6 8 6m-4 4h8m-4-3v3M5.14 11a3.5 3.5 0 1 1 6.71 0"
                           ></path><path d="M12.14 11a3.5 3.5 0 1 1 6.71 0"
                           ></path><path d="M15.5 6.5a3.5 3.5 0 1 0-7 0"
                           ></path></svg
                        >
                     </div><div
                        class="flex items-center w-full justify-between transition-all duration-500 opacity-0"
                     >
                     </div>
                  </div></a
               ><a href="/about"
                  ><div
                     class="rounded-md text-muted-foreground gap-3 flex items-center p-2.5 py-1.5 border-transparent transition-all border min-h-10 hover:text-primary-foreground"
                  >
                     <div class="transition-all duration-500">
                        <svg
                           width="15"
                           height="15"
                           viewBox="0 0 15 15"
                           fill="none"
                           xmlns="http://www.w3.org/2000/svg"
                           ><path
                              d="M7.5 0.875C5.49797 0.875 3.875 2.49797 3.875 4.5C3.875 6.15288 4.98124 7.54738 6.49373 7.98351C5.2997 8.12901 4.27557 8.55134 3.50407 9.31167C2.52216 10.2794 2.02502 11.72 2.02502 13.5999C2.02502 13.8623 2.23769 14.0749 2.50002 14.0749C2.76236 14.0749 2.97502 13.8623 2.97502 13.5999C2.97502 11.8799 3.42786 10.7206 4.17091 9.9883C4.91536 9.25463 6.02674 8.87499 7.49995 8.87499C8.97317 8.87499 10.0846 9.25463 10.8291 9.98831C11.5721 10.7206 12.025 11.8799 12.025 13.5999C12.025 13.8623 12.2376 14.0749 12.5 14.0749C12.7623 14.075 12.975 13.8623 12.975 13.6C12.975 11.72 12.4778 10.2794 11.4959 9.31166C10.7244 8.55135 9.70025 8.12903 8.50625 7.98352C10.0187 7.5474 11.125 6.15289 11.125 4.5C11.125 2.49797 9.50203 0.875 7.5 0.875ZM4.825 4.5C4.825 3.02264 6.02264 1.825 7.5 1.825C8.97736 1.825 10.175 3.02264 10.175 4.5C10.175 5.97736 8.97736 7.175 7.5 7.175C6.02264 7.175 4.825 5.97736 4.825 4.5Z"
                              fill="currentColor"
                              fill-rule="evenodd"
                              clip-rule="evenodd"></path></svg
                        >
                     </div><div
                        class="flex items-center w-full justify-between transition-all duration-500 opacity-0"
                     >
                     </div>
                  </div></a
               >
            </div><div class="px-4 text-sm py-0">
               <div class="opacity-0 transition-all duration-500 w-0"></div><a
                  href="/feed"
                  ><div
                     class="rounded-md text-muted-foreground gap-3 flex items-center p-2.5 py-1.5 border-transparent transition-all border min-h-10 hover:text-primary-foreground"
                  >
                     <div class="transition-all duration-500">
                        <svg
                           xmlns="http://www.w3.org/2000/svg"
                           width="1.1rem"
                           height="1.1rem"
                           viewBox="0 0 24 24"
                           fill="none"
                           stroke="currentColor"
                           stroke-width="2"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                           class="lucide lucide-layout-dashboard"
                           ><rect width="7" height="9" x="3" y="3" rx="1"
                           ></rect><rect
                              width="7"
                              height="5"
                              x="14"
                              y="3"
                              rx="1"></rect><rect
                              width="7"
                              height="9"
                              x="14"
                              y="12"
                              rx="1"></rect><rect
                              width="7"
                              height="5"
                              x="3"
                              y="16"
                              rx="1"></rect></svg
                        >
                     </div><div
                        class="flex items-center w-full justify-between transition-all duration-500 opacity-0"
                     >
                     </div>
                  </div></a
               ><a href="/thoughts"
                  ><div
                     class="rounded-md text-muted-foreground gap-3 flex items-center p-2.5 py-1.5 border-transparent transition-all border min-h-10 hover:text-primary-foreground"
                  >
                     <div class="transition-all duration-500">
                        <svg
                           xmlns="http://www.w3.org/2000/svg"
                           width="1.1rem"
                           height="1.1rem"
                           viewBox="0 0 24 24"
                           fill="none"
                           stroke="currentColor"
                           stroke-width="2"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                           class="lucide lucide-mailbox"
                           ><path
                              d="M22 17a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V9.5C2 7 4 5 6.5 5H18c2.2 0 4 1.8 4 4v8Z"
                           ></path><polyline points="15,9 18,9 18,11"
                           ></polyline><path
                              d="M6.5 5C9 5 11 7 11 9.5V17a2 2 0 0 1-2 2"
                           ></path><line x1="6" x2="7" y1="10" y2="10"
                           ></line></svg
                        >
                     </div><div
                        class="flex items-center w-full justify-between transition-all duration-500 opacity-0"
                     >
                     </div>
                  </div></a
               ><a href="/stack"
                  ><div
                     class="rounded-md text-muted-foreground gap-3 flex items-center p-2.5 py-1.5 border-transparent transition-all border min-h-10 hover:text-primary-foreground"
                  >
                     <div class="transition-all duration-500">
                        <svg
                           xmlns="http://www.w3.org/2000/svg"
                           width="1.1rem"
                           height="1.1rem"
                           viewBox="0 0 24 24"
                           fill="none"
                           stroke="currentColor"
                           stroke-width="2"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                           class="lucide lucide-layers2"
                           ><path
                              d="m16.02 12 5.48 3.13a1 1 0 0 1 0 1.74L13 21.74a2 2 0 0 1-2 0l-8.5-4.87a1 1 0 0 1 0-1.74L7.98 12"
                           ></path><path
                              d="M13 13.74a2 2 0 0 1-2 0L2.5 8.87a1 1 0 0 1 0-1.74L11 2.26a2 2 0 0 1 2 0l8.5 4.87a1 1 0 0 1 0 1.74Z"
                           ></path></svg
                        >
                     </div><div
                        class="flex items-center w-full justify-between transition-all duration-500 opacity-0"
                     >
                     </div>
                  </div></a
               >
            </div><div class="px-4 text-sm py-0">
               <div class="opacity-0 transition-all duration-500 w-0"></div><a
                  href="/contact"
                  ><div
                     class="rounded-md text-muted-foreground gap-3 flex items-center p-2.5 py-1.5 border-transparent transition-all border min-h-10 hover:text-primary-foreground"
                  >
                     <div class="transition-all duration-500">
                        <svg
                           xmlns="http://www.w3.org/2000/svg"
                           width="1rem"
                           height="1rem"
                           viewBox="0 0 24 24"
                           fill="none"
                           stroke="currentColor"
                           stroke-width="2"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                           class="lucide lucide-triangle"
                           ><path
                              d="M13.73 4a2 2 0 0 0-3.46 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"
                           ></path></svg
                        >
                     </div><div
                        class="flex items-center w-full justify-between transition-all duration-500 opacity-0"
                     >
                     </div>
                  </div></a
               ><a target="_blank" href="https://peerlist.io/cwdharshit"
                  ><div
                     class="rounded-md text-muted-foreground gap-3 flex items-center p-2.5 py-1.5 border-transparent transition-all border min-h-10 hover:text-primary-foreground"
                  >
                     <div class="transition-all duration-500">
                        <svg
                           width="1.3em"
                           height="1.3em"
                           viewBox="0 0 24 24"
                           stroke-width="1.5"
                           fill="none"
                           xmlns="http://www.w3.org/2000/svg"
                           color="currentColor"
                           ><path
                              d="M8.87026 3H15.1297C18.187 3 20.7554 5.29881 21.093 8.33741L21.3037 10.2331C21.4342 11.4074 21.4342 12.5926 21.3037 13.7669L21.093 15.6626C20.7554 18.7012 18.187 21 15.1297 21H8.87026C5.81296 21 3.24458 18.7012 2.90695 15.6626L2.69632 13.7669C2.56584 12.5926 2.56584 11.4074 2.69632 10.2331L2.90695 8.33741C3.24458 5.29881 5.81296 3 8.87026 3Z"
                              stroke="currentColor"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"></path><path
                              d="M9 17L9 13M9 13L9 7L13 7C14.6569 7 16 8.34315 16 10V10C16 11.6569 14.6569 13 13 13L9 13Z"
                              stroke="currentColor"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"></path></svg
                        >
                     </div><div
                        class="flex items-center w-full justify-between transition-all duration-500 opacity-0"
                     >
                     </div>
                  </div></a
               ><a target="_blank" href="https://x.com/cwd_harshit"
                  ><div
                     class="rounded-md text-muted-foreground gap-3 flex items-center p-2.5 py-1.5 border-transparent transition-all border min-h-10 hover:text-primary-foreground"
                  >
                     <div class="transition-all duration-500">
                        <svg
                           xmlns="http://www.w3.org/2000/svg"
                           width="1rem"
                           height="1rem"
                           viewBox="0 0 24 24"
                           fill="none"
                           stroke="currentColor"
                           stroke-width="2"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                           class="lucide lucide-twitter"
                           ><path
                              d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z"
                           ></path></svg
                        >
                     </div><div
                        class="flex items-center w-full justify-between transition-all duration-500 opacity-0"
                     >
                     </div>
                  </div></a
               ><a
                  target="_blank"
                  href="https://www.linkedin.com/in/cwd-harshit"
                  ><div
                     class="rounded-md text-muted-foreground gap-3 flex items-center p-2.5 py-1.5 border-transparent transition-all border min-h-10 hover:text-primary-foreground"
                  >
                     <div class="transition-all duration-500">
                        <svg
                           xmlns="http://www.w3.org/2000/svg"
                           width="1rem"
                           height="1rem"
                           viewBox="0 0 24 24"
                           fill="none"
                           stroke="currentColor"
                           stroke-width="2"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                           class="lucide lucide-linkedin"
                           ><path
                              d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
                           ></path><rect width="4" height="12" x="2" y="9"
                           ></rect><circle cx="4" cy="4" r="2"></circle></svg
                        >
                     </div><div
                        class="flex items-center w-full justify-between transition-all duration-500 opacity-0"
                     >
                     </div>
                  </div></a
               ><a target="_blank" href="https://github.com/C-W-D-Harshit"
                  ><div
                     class="rounded-md text-muted-foreground gap-3 flex items-center p-2.5 py-1.5 border-transparent transition-all border min-h-10 hover:text-primary-foreground"
                  >
                     <div class="transition-all duration-500">
                        <svg
                           xmlns="http://www.w3.org/2000/svg"
                           width="1rem"
                           height="1rem"
                           viewBox="0 0 24 24"
                           fill="none"
                           stroke="currentColor"
                           stroke-width="2"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                           class="lucide lucide-github"
                           ><path
                              d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"
                           ></path><path d="M9 18c-4.51 2-5-2-7-2"></path></svg
                        >
                     </div><div
                        class="flex items-center w-full justify-between transition-all duration-500 opacity-0"
                     >
                     </div>
                  </div></a
               ><a target="_blank" href="https://www.instagram.com/harshit.git"
                  ><div
                     class="rounded-md text-muted-foreground gap-3 flex items-center p-2.5 py-1.5 border-transparent transition-all border min-h-10 hover:text-primary-foreground"
                  >
                     <div class="transition-all duration-500">
                        <svg
                           xmlns="http://www.w3.org/2000/svg"
                           width="1rem"
                           height="1rem"
                           viewBox="0 0 24 24"
                           fill="none"
                           stroke="currentColor"
                           stroke-width="2"
                           stroke-linecap="round"
                           stroke-linejoin="round"
                           class="lucide lucide-instagram"
                           ><rect
                              width="20"
                              height="20"
                              x="2"
                              y="2"
                              rx="5"
                              ry="5"></rect><path
                              d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"
                           ></path><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"
                           ></line></svg
                        >
                     </div><div
                        class="flex items-center w-full justify-between transition-all duration-500 opacity-0"
                     >
                     </div>
                  </div></a
               >
            </div>
         </div>
      </div>
   </nav>
</div>
